<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>เวลางาน</ion-title>

  <ion-buttons end>
    <button (click)="onSearchFilterClick()">
      <ion-icon name="ios-funnel-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let head of heads">

      <ion-item-divider light>{{getDividerDisplay(head)}}</ion-item-divider>

      <ion-item *ngFor="let t of getTimeworks(head)">
        <ion-avatar item-left style="position: inherit;">
          <h1 style="
            position: absolute;
            text-align: center;
            font-weight: bold;
            line-height: 40px;
            vertical-align: middle;
            width: 100%;
            color: #fff; 
            text-rendering: optimizelegibility;
            text-shadow: 0 0 3px rgba(0,0,0,.6);
          "><ion-icon name="location"></ion-icon>{{t.date.getDate()}}</h1>
          <img style="
            ;
            width: 100px;
            height: 100px;" [ngStyle]="{'background-color': getRandomColor()}" />
        </ion-avatar>
        <h2>{{t.location}}</h2>
        <p>{{getDateDisplay(t.date)}}</p>
      </ion-item>

    </ion-item-group>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>